.layout {
  min-height: 79.8vh;
}

input:focus {
  outline: none;
}
/*<----------------------------------- nav ------------------------------>*/

.nav {
  background: #f5f4f4;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.171);
  transition: all 0.3s ease-in;
  font-family: "Raleway", sans-serif;
}

.logo {
  transition: all 0.3s ease-out;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.logo:hover {
  transform: rotate(180deg);
}

/* ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  width: 101%;
  list-style: none;
  position: absolute;
  left: 0%;
  top: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.171);
  transform: translateY(-26rem);
  transition: all 0.2s ease-in-out;
} */

ul {
  height: 60%;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  transition: all 0.3s ease-in;
}
.nav-active-auth {
  height: 28rem;
  transition: all 0.3s ease-in;
}

.nav-active-not-auth {
  height: 23rem;
  transition: all 0.3s ease-in;
}
.nav-non-active {
  height: 7rem;
  transition: all 0.3s ease-in;
}
.active-auth {
  opacity: 1;
  margin-top: 5rem;
}

.active-not-auth {
  opacity: 1;
  margin-top: 6rem;
}

.non-active {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8rem);
}

a {
  position: relative;
  display: block;
  text-decoration: none;
  color: rgba(116, 115, 115, 0.603);
  font-size: 1.2rem;
  width: 100%;
  padding: 1.5rem 2rem;
}

a:hover {
  /* background: rgba(221, 221, 221, 0.363); */
  background: #fafafa;
  color: rgb(85, 85, 85);
}
a:active {
  /* background: rgba(221, 221, 221, 0.363); */
  background: #fafafa;
  color: rgb(85, 85, 85);
}

a:focus {
  /* background: rgba(221, 221, 221, 0.363); */
  background: #fafafa;
  color: rgb(85, 85, 85);
}

a:hover::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 0;
  width: 0px;
  height: 100%;
  width: 10px;
  height: 100%;
  background: rgb(221, 221, 221);
}

.menu-icon {
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

/*<----------------------------------- banner ------------------------------>*/

.banner {
  color: white;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(219, 218, 218);
  /* background: url("../imges/code.jpg") repeat rgba(43, 3, 3, 0.89); */
  font-family: "Raleway", sans-serif;
}

.banner p {
  color: rgb(202, 202, 202);
}

.btn {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background: white;
  border-radius: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid rgba(190, 190, 190, 0.555);
  box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.199);
  cursor: pointer;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  color: black;
}

.btn:hover {
  background: rgba(51, 51, 51, 0.555);
  color: #fafafa;
}

.btn:active {
  outline: none;
}

.btn:focus {
  outline: none;
}

.banner-container {
  font-size: 2rem;
  width: 30rem;
}

.banner-container h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 5rem;
  margin: 10px 0;
  text-transform: uppercase;
}

.banner-container a {
  padding: 0;
  margin: 0;
}
.banner-container a::before {
  width: 0;
}

.banner-container a:hover,
.banner-container a:active,
.banner-container a:focus {
  background: none;
}

/*<----------------------------------- MainSection ------------------------------>*/

.section {
  width: 100%;
  min-height: 50vh;
  background: rgba(211, 211, 211, 0.171);
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 98rem;
  padding: 4rem;
  margin: 0 auto;
}

.grid-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 14rem;
  text-align: center;
}

.grid-heading h1 {
  font-size: 2.9rem;
  margin-bottom: 1.5rem;
}
.grid-heading p {
  font-size: 1.7rem;
  color: rgb(99, 99, 99);
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  font-size: 1.4rem;
}

.grid-item {
  padding: 1rem 1.3rem;
  margin-bottom: 1.5rem;
}

.grid-item h2 {
  display: block;
  float: auto;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.grid-item p {
  font-size: 1.6rem;
  color: rgb(99, 99, 99);
}
/* <---------------------------------Skills Section -----------------------------> */
.skill-section {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
.skill-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
}

.container {
  padding: 1.6rem;
}

.skill-heading h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.skill-heading p {
  font-size: 1.7rem;
  color: rgb(99, 99, 99);
}

.list-item {
  display: flex;
  align-items: center;
  margin: 2.3rem 0;
}

.list-item p {
  font-size: 1.6rem;
  color: rgb(99, 99, 99);
}

.list-card {
  min-height: 30vh;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.521);
  margin: 3rem auto 0;
  max-width: 60rem;
}

.list-card .icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 3rem;
}

/* <---------------------------------Footer Section -----------------------------> */

.footer {
  width: 100%;
  height: 10vh;
  background: #f5f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(92, 92, 92, 0.801);
}

.footer-icons {
  margin-top: 1rem;
}

/* <---------------------------------Assignments Section -----------------------------> */

.ASST-section {
  min-height: 80.5vh;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.assignments-card h1 {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.747);
}

.spinner-div {
  display: flex;
  min-height: 30vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.assignments-card {
  box-shadow: none;
  border-radius: 0;
}

.assignemnt-title {
  text-align: center;
  border-bottom: 1px solid rgba(180, 180, 180, 0.568);
  margin-top: 0.5rem;
}

.assignemnt-title h3 {
  margin-bottom: 1rem;
}

/* <---------------------------------Assignment detail Section -----------------------------> */

.assignments-card {
  min-height: 33rem;
  position: relative;
  padding: 1.2rem;
}
.assignments-card form {
  font-size: 1.5rem;
}

.q-loading {
  position: absolute;
  top: 50%;
  right: 50.5%;
}

.question-q {
  display: block;
  margin-top: 1.5rem;
}

.q-container {
  padding: 4rem 0.5rem;
}
.question-q ul {
  margin-top: 1.5rem;
}

.question-q ul li {
  margin: 0.5rem;
}

.question-q ul li input {
  margin-right: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

.question-card {
  padding: 1.5rem;
  min-height: 20rem;
}

.question-margin {
  height: 7rem;
  width: 100%;
}
.action-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  margin-top: 2rem;
  bottom: 2rem;
  background: #9cb2c9;
  cursor: pointer;
}

.action-btn:focus {
  outline: none;
}

.action-btn .icon {
  pointer-events: none;
  color: #fafafa;
  transform: translate(33%, 7%);
}

.next {
  right: 3rem;
}

.previous {
  left: 3rem;
}

.finish {
  right: 50%;
  font-size: 2rem;
  background: #6f8bac;
  color: white;
  width: 15rem;
  border-radius: 2rem;
  transform: translateX(50%);
}
/* <---------------------------------Login Section -----------------------------> */

.login-page {
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  width: 100%;
  height: 80.5vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  background: white;
  width: 80%;
  max-width: 40rem;
  height: 60vh;
  max-height: 40rem;
  justify-content: space-evenly;
  align-items: center;
}

.login-box form {
  width: 80%;
}

.form-item {
  margin-bottom: 1rem;
}

.form-item input {
  height: 3.5rem;
  width: 100%;
  border-radius: 2rem;
  border: none;
  background: rgb(235, 237, 241);
  padding: 0 2.9rem;
}

.form-item input:focus {
  border: 1.5px solid #6f8bac;
}

.login-btn {
  font-size: 1.5rem;
  display: block;
  background-color: #6f8bac;
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  margin: 2rem auto 0;
  height: 3.5rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #30547c;
}

.login-btn:active {
  background-color: #00416a;
}

.login-box p {
  font-size: 1.3rem;
}

.login-box a {
  display: inline;
  font-size: 1.3rem;
}

.login-box a::before {
  width: 0;
  heright: 0;
}

.login-icon {
  color: grey;
}

.signup-link {
  color: #547599;
}

.signup-link:hover,
.signup-link:focus {
  color: #2e4b69;
}

.forgot-pass {
  display: block;
  height: 5rem;
}

.error p {
  color: rgb(209, 39, 39);
}

/* <---------------------------------profile Section -----------------------------> */

.upper-container {
  width: 100%;
  height: 35vh;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9cb2c9,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: grey;
  margin-bottom: 2rem;
}

.lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* <---------------------------------profile Section -----------------------------> */

.profile-info {
  transform: translateY(-7.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 90%;
}

.info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}
.info h3 {
  margin-bottom: 1rem;
}

.info div {
  text-align: center;
}

.profile-nav {
  width: 90%;
  max-width: 80rem;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.profile-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
  text-align: center;
}

.grades-table {
  width: 90%;
  max-width: 70rem;
  margin-bottom: 5rem;
  padding: 1.5rem;
}
.grades-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 2.5rem;
  background: rgb(212, 212, 212);
  align-items: center;
  padding: 0 1rem;
}

.grades-row p,
h4,
li {
  flex: 1;
}

.grades-row .title {
  flex: 2;
}

.grades-row li {
  flex: 2;
}

.alter-row {
  background: white;
}

.main-row {
  background: white;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin-bottom: 1rem;
}

.grade {
  transform: translateX(0.5rem);
}

.last-row {
  background: white;
  margin-top: 1rem;
  border-top: 1px solid rgb(194, 194, 194);
}

.average {
  flex: 3.3;
}

.profile-container {
  font-size: 1.3rem;
}

.profile-container a {
  maring: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.685);
}

.profile-container a::before {
  width: 0;
  height: 0;
}

.profile-container a:hover,
.profile-container a:focus,
.profile-container a:active {
  background: white;
}

.user-info-card {
  width: 90%;
  margin-bottom: 5rem;
}

.uf-item {
  max-width: 30rem;
  margin: 1rem auto;
}

.uf-item input {
  background: rgb(239, 240, 241);
}

.uf-container {
  text-align: center;
}

.uf-title {
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(194, 194, 194, 0.582);
  padding-bottom: 1rem;
}

.uf-btn {
  max-width: 15rem;
}

.question-tracker {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* <---------------------------------media queries Section -----------------------------> */

@media only screen and (min-width: 600px) {
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    width: 50%;
    margin: 0 auto;
  }
  .non-active {
    opacity: 1;
    transform: translateY();
  }
  .menu-icon {
    display: none;
  }
  .nav ul a {
    color: rgb(112, 112, 112);
    padding: 1.5rem 0;
    width: 0;
  }
  .nav-actve-auth,
  .nav-active-not-auth,
  .nav {
    height: 7rem;
  }
  .nav ul a:hover {
    color: rgb(15, 15, 15);
    background: none;
  }
  .nav ul a::before {
    width: 0;
  }
  .nav ul a:active {
    color: black;
    background: none;
  }
  .nav ul a:focus {
    color: black;
    background: none;
  }
  .layout {
    min-height: 82vh;
  }
  .ASST-section {
    height: 82vh;
  }
  .login-page {
    min-height: 82vh;
  }
  .banner-container {
    width: 40rem;
  }
}
